*{
    margin: 0;
    padding: 0;
}
.project{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}
.skillsText {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
.myproject{
    height: 85%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}
@media (min-width: 300px) and (max-width: 1000px){
    .myproject{
        justify-content: space-around;
    }
    .container{
        margin: 10% 0 10% 0;
    }
}