.myskills{
    min-height: 20vh;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 40px;
}

.myskills span{
    text-align: center;
    margin: 20px 0;
}
.name{
    font-size: 30px;
    font-weight: 700;
}
.iconHtmlCss{
    width: 150px;
    height: 100px;
    background-image: url("../images/html_css.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconJs{
    width: 90px;
    height: 90px;
    background-image: url("../images/js.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconReactRedax{
    width: 150px;
    height: 100px;
    background-image: url("../images/reactRedax.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (min-width: 300px) and (max-width: 1000px){
    .myskills{
        margin-top: 10%;
    }
}