.myskills{
    min-height: 30vh;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid red;
    border-radius: 10%;
}

.myskills span{
    text-align: center;
}
.imageSkills{
    width: 50px;
    height: 50px;
}
.iconHtmlCss{
    width: 100px;
    height: 60px;
    background-image: url("../images/html_css.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconJs{
    width: 50px;
    height: 50px;
    background-image: url("../images/js.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconReactRedax{
    width: 100px;
    height: 50px;
    background-image: url("../images/reactRedax.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (min-width: 350px) and (max-width: 1000px){
    .myskills{
        margin-top: 10%;
    }
}