.header{
    min-height: 12vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (min-width: 300px) and (max-width: 1000px) {
    .container{
        width: 100%;
        justify-content: center;
    }
}