.contacts{
    height: 90vh;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contactsInfo{
    border: 1px solid;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.message{
    height: 100px;
}
.container span{
    display: block;
    padding: 1%;
    background-color: gray;
}
@media (min-width: 350px) and (max-width: 1000px){
    .contactsInfo{
        width: 100%;
    }
}