.container{
  width: 500px;
  min-height: 450px;
  background-color: white;
  display: flex;
  align-items: flex-end;
}
.myproject{
  background-color: gray;
  width: 100%;
  min-height: 170px;
}
@media (min-width: 350px) and (max-width: 1000px){
  .container{
    margin-top: 10%;
  }
}
