.myskills{
    height: 50vh;
    width: 300px;
    border: 1px solid;
    background-color: white;
    display: flex;
}
@media (min-width: 350px) and (max-width: 1000px){
    .myskills{
        margin-top: 10%;
    }
}