.slogan{

    height: 40vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 70%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container span{
    background-color: gray;
    display: block;
    padding: 1%;
}