.footer{
    min-height: 50vh;
    background-color: #f3ffe5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container1{
    border: 1px solid;
    width: 50%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.container span{
    display: block;
    padding: 1%;
    background-color: gray;
}
@media (min-width: 350px) and (max-width: 1000px){
    .container1{
        justify-content: space-around;
    }
    .container{
        margin: 20% 0 20% 0;
    }
}