.container{
    display: flex;
    margin: 50px 0;
    width: 40%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container i {
    font-size: 60px;
    color: white;
    margin: 5px;
    cursor: pointer;
}


@media (min-width: 300px) and (max-width: 1000px) {

}